/**
!/.gitignore

# rime settings
!/fcitx/
/fcitx/**
!/fcitx/rime/
/fcitx/rime/**
!/fcitx/rime/alternative.yaml
!/fcitx/rime/cangjie5.cj3ext.dict.yaml
!/fcitx/rime/canjie5.custom.yaml
!/fcitx/rime/default.custom.yaml

# material skin
!/fcitx/skin/
/fcitx/skin/**
!/fcitx/skin/material/

# font config
!/fontconfig/
fontconfig/**
!/fontconfig/fonts.conf
